html {
    min-height: 100%;
    background-image: linear-gradient(to bottom, #141E30, #243B55);
    background-size: cover;
}
body {
    font-family: 'Gayathri', sans-serif;
}
#content {
    margin-top: 10vh;
    text-align: center;
}

    #content h1 {
        color: white;
        font-size: 4rem
    }

    #content input, #content button {
        margin: 0 auto;
        outline: 0;
        border: none;
        padding: 25px;
        border-radius: 2px;
        font-size: 1rem;
        font-family: 'Gayathri', sans-serif;

    }

    #content button {
        margin-top: 25px;
        background-color: #fafafa57;
        transition: 200ms
    }

        #content button:hover {
            background-color: #fafafa90
        }

        #content button:active {
            background: #fafafa
        }

.result {
    font-family: 'Gayathri', sans-serif;
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    min-width: 10%;
    max-width: 50%;
    height: 50px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem
}

@media (max-width: 720px) {
    #content h1 {
        margin-bottom: 6rem
    }

    #content input, #content button {
        text-align:center;
        display: block;
        width: 90%;
    }

}
